<li>
{{#link-to 'rental' rentalDetails.id}}{{rentalDetails.owner}}'s {{rentalDetails.type}} in {{rentalDetails.city}} {{/link-to}}
{{log rentalDetails.city}} 
{{#if isImageShowing }}
    <p><img src={{rentalDetails.image}} alt={{rentalDetails.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image</button>
  {{/if}}

</li>
